/.vscode
nuscenes_bags/61.bag
src/lidar/CUDA-CenterPoint/src/data/pkl/nusc_test_in.pkl
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151603547590.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151604048025.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151604547893.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151605047769.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151605548192.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151606048630.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151606549066.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151607048933.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151607548824.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151608048151.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151608548020.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151609047890.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151609547766.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151609947025.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151610446899.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151610946785.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151611446636.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151611896734.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151612397179.pcd.bin
src/lidar/CUDA-CenterPoint/src/data/test/n008-2018-08-01-15-16-36-0400__LIDAR_TOP__1533151612897588.pcd.bin
src/lidar/CUDA-CenterPoint/devel/_setup_util.py
src/lidar/CUDA-CenterPoint/devel/.built_by
src/lidar/CUDA-CenterPoint/devel/.catkin
src/lidar/CUDA-CenterPoint/devel/.rosinstall
src/lidar/CUDA-CenterPoint/devel/cmake.lock
src/lidar/CUDA-CenterPoint/devel/env.sh
src/lidar/CUDA-CenterPoint/devel/local_setup.bash
src/lidar/CUDA-CenterPoint/devel/local_setup.sh
src/lidar/CUDA-CenterPoint/devel/local_setup.zsh
src/lidar/CUDA-CenterPoint/devel/setup.bash
src/lidar/CUDA-CenterPoint/devel/setup.sh
src/lidar/CUDA-CenterPoint/devel/setup.zsh
src/lidar/CUDA-CenterPoint/build/.built_by
src/lidar/CUDA-CenterPoint/build/CATKIN_IGNORE
src/lidar/CUDA-CenterPoint/build/catkin_make.cache
src/lidar/CUDA-CenterPoint/build/CMakeCache.txt
src/lidar/CUDA-CenterPoint/build/CTestConfiguration.ini
src/lidar/CUDA-CenterPoint/build/CTestCustom.cmake
src/lidar/CUDA-CenterPoint/build/CMakeFiles/cmake.check_cache
src/lidar/CUDA-CenterPoint/build/CMakeFiles/CMakeError.log
src/lidar/CUDA-CenterPoint/build/CMakeFiles/CMakeOutput.log
src/lidar/CUDA-CenterPoint/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
src/lidar/CUDA-CenterPoint/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
src/lidar/CUDA-CenterPoint/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
src/lidar/CUDA-CenterPoint/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
src/lidar/CUDA-CenterPoint/build/CMakeFiles/3.16.3/CMakeSystem.cmake
src/lidar/CUDA-CenterPoint/build/CMakeFiles/3.16.3/CompilerIdC/a.out
src/lidar/CUDA-CenterPoint/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
src/lidar/CUDA-CenterPoint/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
src/lidar/CUDA-CenterPoint/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/lidar/CUDA-CenterPoint/build/atomic_configure/_setup_util.py
src/lidar/CUDA-CenterPoint/build/atomic_configure/.rosinstall
src/lidar/CUDA-CenterPoint/build/atomic_configure/env.sh
src/lidar/CUDA-CenterPoint/build/atomic_configure/local_setup.bash
src/lidar/CUDA-CenterPoint/build/atomic_configure/local_setup.sh
src/lidar/CUDA-CenterPoint/build/atomic_configure/local_setup.zsh
src/lidar/CUDA-CenterPoint/build/atomic_configure/setup.bash
src/lidar/CUDA-CenterPoint/build/atomic_configure/setup.sh
src/lidar/CUDA-CenterPoint/build/atomic_configure/setup.zsh
src/lidar/CUDA-CenterPoint/build/catkin/catkin_generated/version/package.cmake
src/lidar/CUDA-CenterPoint/build/catkin_generated/env_cached.sh
src/lidar/CUDA-CenterPoint/build/catkin_generated/generate_cached_setup.py
src/lidar/CUDA-CenterPoint/build/catkin_generated/ordered_paths.cmake
src/lidar/CUDA-CenterPoint/build/catkin_generated/package.cmake
src/lidar/CUDA-CenterPoint/build/catkin_generated/setup_cached.sh
src/lidar/CUDA-CenterPoint/build/catkin_generated/installspace/_setup_util.py
src/lidar/CUDA-CenterPoint/build/catkin_generated/installspace/.rosinstall
src/lidar/CUDA-CenterPoint/build/catkin_generated/installspace/env.sh
src/lidar/CUDA-CenterPoint/build/catkin_generated/installspace/local_setup.bash
src/lidar/CUDA-CenterPoint/build/catkin_generated/installspace/local_setup.sh
src/lidar/CUDA-CenterPoint/build/catkin_generated/installspace/local_setup.zsh
src/lidar/CUDA-CenterPoint/build/catkin_generated/installspace/setup.bash
src/lidar/CUDA-CenterPoint/build/catkin_generated/installspace/setup.sh
src/lidar/CUDA-CenterPoint/build/catkin_generated/installspace/setup.zsh
src/lidar/CUDA-CenterPoint/build/catkin_generated/stamps/nus_centerpoint/_setup_util.py.stamp
src/lidar/CUDA-CenterPoint/build/catkin_generated/stamps/nus_centerpoint/interrogate_setup_dot_py.py.stamp
src/lidar/CUDA-CenterPoint/build/catkin_generated/stamps/nus_centerpoint/package.xml.stamp
